<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262691093574-97vovgq2jr7so0qrongsqe9prulke3n1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262691093574-97vovgq2jr7so0qrongsqe9prulke3n1</string>
	<key>API_KEY</key>
	<string>AIzaSyBMlJVwMbci3E69NlQDyEydYVeFUL4qmdc</string>
	<key>GCM_SENDER_ID</key>
	<string>262691093574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qin-memo</string>
	<key>PROJECT_ID</key>
	<string>qin-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>qin-app-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262691093574:ios:f6e70b20be49e711509e47</string>
</dict>
</plist>